body{

}

.cabecalho{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: start;
    align-items: start;
    background-color: rgb(149, 0, 255);
    padding: 50px 30px;
    width: 10vw;
    height: 100vh;
    box-shadow: 0px 0px 10px black;
    color: white;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
.logo span{
    font-size: 18px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;


}

li{
    list-style: none;
}

.buscar{
    display: flex;
    flex-direction: row;
}

#busca{
  border-radius: 10px;
  font-style:italic;
  font-size: 15px;
  padding-left: 10px;
  width:200px;
}